.DS_Store
Thumbs.db
*.log
node_modules/
public/
.deploy*/
*.lock
*-lock.json
/story/*
!/story/info
!/story/.gitkeep
/story/info/*
!/story/info/.gitkeep
/gallery/*
!/gallery/.gitkeep
/thumbs/*
!/thumbs/.gitkeep